@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Rock+Salt&display=swap');

.band {
    background-image: url('298986768_5275901002494360_3348745097033957272_n.jpg');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

.nav-pills>li>a {
  font-family: 'Rock Salt', cursive;
  font-weight: bold;
}

label, p, .add_m_b-wrapper, .shiny-text-output, .selectize-control, span {
    font-family: 'Noto Sans', sans-serif;
}
